.rootApp {
  width: 500px;
  background-color: coral;
}

.App {
  height: 100vh;
  /* width: 100wh; */
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
